 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rowdies:wght@300&display=swap');
body{
   background-color: #F2EBE3;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;

  
}


.container{
    width: 650px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 1rem;

}

.container> .left_side{
    width: 50%;
}

.left_side > img{
    height: 500px;
    border-radius: 1rem 0 0 1rem;

}


/* Right side CSS **/

.right_side{
    color: hsl(228, 12%, 48%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.right_side >.PERFUME{
    letter-spacing: 5px;

}
.heading{
    width: 220px;
    color: black;
    font-family:'Rowdies';
    font-weight: 300;
}
.discription{
    width: 250px;
    color: black;
}


.price{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
    align-items: center;
}

.offer-price{
    font-size: 1.5rem;
    color: #3D7F67;
}

.mrp{
    text-decoration: line-through;
}

button{
    background-color: #3D7F67;
    padding: .8rem;
    color: #F2EBE3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0e563c;
}